body {
    background-color: #8fbc8f;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 43px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.col1 {
    height: 20px;
    background-color: #2e8b57;
}

.col2 {
    height: 20px;
    background-color: #D3D3D3;
}

#carouselControls {
    border: 5px solid #2e8b57;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    font-family: sans-serif;
}

